'.idea'
'.idea' 
'.idea' 
'.idea' 
'.idea' 
'.idea' 
'.idea' 
Pythoncourse/Classes/pygame.pyc
pluralsight/DemoApp/app/js/services/
pluralsight/DemoApp/test/e2e/
pluralsight/DemoApp/test/unit/
test/images/
.idea/
