{% extends 'baseTemplate.html' %}
{% comment %}{% load custom_filters %}{% endcomment %}
{% block title %}
    <title>Design Modular kitchens online</title>
{% endblock title %}
{% block description %}
    <meta name="description"
          content="Modular kitchen zoom-render design online. Buy modular kitchen cabinet, kitchen storage containers, kitchen racks, kitchen cupboards online in India."/>

{% endblock description %}
{% block google_keywords %}
    <meta name="keywords"
          content="Kitchen online, modular kitchens, modular kitchen photos, modular kitchen price, modern kitchen, sleek kitchen, kitchen furniture, kitchen design price, kitchen design India."/>
{% endblock google_keywords %}
{% block additional_css %}
    <link rel="stylesheet" href="/static/css/staticpagestyles.css">
{% endblock additional_css %}
{% block content %}
    <script>
        $( function() {
            $( "#tabs" ).tabs({
            });
        } );
    </script>
    <style>
        .header-on-image{
            text-align: center;
            margin-top: -70px;
            color: white;
            font-size: 30px;
            font-weight: bold;
        }
        .tag-line-on-image{
            text-align: center;
            font-size: 14px;
            margin-top: -30px
        }
        .design-on-image{
            color: white;
            text-align: center;
            font-size: 26px;
        }
        small{
            color: white;
        }
        .button{
            align-content: center;
            font-size: 14px;
        }
        .image-info{
            text-align: center;
            color: white;
            font-size: 14px;
        }
        form{
            background-color: #3a3a3a;

        }
        .inline{
            text-decoration: underline;
        }
        .contact-me-div{
            margin-top: 120px;
            background-color: #99a4ac;
            width: 100%;
        }
        .how-work{
            text-align: center;
            color: black;
            font-size: 18px;
            margin-top: 65px;
        }
        .my-lists {
            margin: 0 auto 1.0625rem auto;
            margin-left: -1.375rem;
            margin-right: 0;
            padding: 0;
            list-style: none;
            overflow: hidden;
        }.my-lists > li {
             list-style: none;
             float: left;
             margin-left: 1.2rem;
             display: block;
         }
        .inline-list > li > * {
            display: block;
        }
        .packages{
            text-align: center;
            color: black;
            font-size: 18px;
            margin-top: 65px;
        }
        .main-table-package {
            border-collapse: collapse;
            margin-top: 15px;
            border: 1px solid black;
        }
        .why-us{
            text-align: center;
            color: black;
            font-size: 18px;
            margin-top: 65px;
        }


        {#    ul li{#}
        {#        display: inline;#}
        {#    }#}
    </style>
    <div class="back-ground-image">
        <img src="static/images/index/orange-and-black-interior-artwork-ideas.jpg" alt="Modularkitchen" class="image-alignment">
        <div class="medium-12 large-12 columns text-on-contact-us-image">
            <p class="header-on-image" >YOUR INTERIOR DESIGN PARTNER</p><br>
            <p class="tag-line-on-image" align="center">GET YOUR HOME DESIGNED BY OUR EXPERT DESIGNERS</p>
            <p class="design-on-image">DESIGN SERVICE  <small>STARTS  FROM</small> Rs 20,000 /-*</p><br><br><br><br>
            <div class="center"> <a class="button customize-button c-small c-red buy-now">KNOW MORE</a>
            </div><br>
            <p class="image-info">*Get All Production Documents Designs,Engineering Drawing,Bill of Material</p>
            <div class="large-12 small-12 columns contact-me-div hide-for-small" >
                <form>

                    <div class="large-2 small-2 columns" style="margin-top: 15px">
                        <input type="text" placeholder="Name">
                    </div>

                    <div class="large-3 small-3 columns" style="margin-top: 15px">
                        <input type="text" placeholder="Email">
                    </div>
                    <div class="large-3 small-3 columns" style="margin-top: 15px">
                        <input type="text" placeholder="phone">
                    </div>
                    <div class="large-2 small-2 columns" style="margin-top: 15px">
                        <a class="button customize-button c-small c-red buy-now">CONTACT ME</a>
                    </div>
                    <div class="large-2 small-2 columns" style="margin-top: 25px">
                        <a class="inline">View Packages</a>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <div class="how-work-hover">
        <div class="large-8 small-10 large-centered columns">
            <p class="how-work"> HOW IT WORKS</p>
            <hr>
        </div>
        <div>
            <ul class="small-block-grid-3 large-block-grid-6 medium-block-grid-4 data-equalizer" >
                <li class="" style="background-color: black; border-left: 2px solid white; color: white;" href="#tabs-1"><small>1 BOOK ORDER</small></li>
                <li class="" style="background-color: black; border-left: 2px solid white; color: white;"> <small>2 CONNECT TO DESIGNER</small></li>
                <li class="" style="background-color: black; border-left: 2px solid white; color: white;"> <small>3.FURNITURE LAYOUT</small></li>
                <li class="" style="background-color: black; border-left: 2px solid white; color: white;"> <small>4.MATERIALS&COLORS</small></li>
                <li class="" style="background-color: black; border-left: 2px solid white; color: white;"> <small>5.3D RENDERS</small></li>
                <li class="" style="background-color: black; border-left: 2px solid white; color: white;"> <small>6.PRODUCTION DOCUMENTS</small></li>
            </ul>
        </div>
        <div class="hover-action">
            <div class="large-12 small-12 medium-12 columns" style="background-color:silver; margin-top: 15px;">
                <div class="row">
                    <div class="large-8 columns small-8 columns">
                        <div class="large-4 columns small-4 columns">

                        </div>
                        <div class="large-4 columns small-4 columns">
                            <p>Book your order by uploading your floor plan and photograohs</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-8 small-10 large-centered columns">
            <p class="packages"> PACKAGES</p>
            <hr>
        </div>
        <div class="large-12 small-12 medium-12 columns" style="background-color:silver; margin-top: 15px;">
            <div class="row">
                <div class="large-6 columns small-6 columns">
                    <table class="main-table-package">
                        <table>
                        <thead>
                        <tr>
                            <th>TYPE OF PACKAGE</th>
                            <th>PRICE</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1-BHK</td>
                            <td>RS.20,000</td>
                        </tr>
                        <tr>
                            <td>2-BHK</td>
                            <td>RS.35,000</td>
                        </tr>
                        <tr>
                            <td>3-BHK</td>
                            <td>RS.20,000</td>
                        </tr>
                        <tr>
                            <td>4-BHK</td>
                            <td>RS.20,000</td>
                        </tr>
                        <tr>
                            <td>VILLA</td>
                            <td>RS.20,000</td>
                        </tr>
                        </tbody>
                        </table>
                    </table>
                </div>
                <div class="large-6 columns small-6 columns">
                </div>

            </div>
        </div>


    </div>
    <div class="row">
        <div class="large-8 small-10 large-centered columns">
            <p class="why-us"> WHY US</p>
            <hr></div>
        <div>
            <ul class="small-block-grid-1 large-block-grid-4 medium-block-grid-4">
                <div class="text-on-contact-us-image"> <li class=""><img src="static/images/index/circle-1.png"></li></div>
                <li class=""><img src="static/images/index/circle-2.png"></li>
                <li class=""><img src="static/images/index/circle-3.png"></li>
                <li class=""><img src="static/images/index/circle-4.png"></li>
                </ul>
            </div>


{% endblock content %}