<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngularJs First Program</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="scripts/scripts.js"></script>
    <script src="scripts/filters.js"></script>
    <link href="css/style.css" type="text/css" rel="stylesheet">
</head>
<body ng-app="myModule">
    <!-- Video 1 & 2 -->
    <!--<div ng-controller="myController">-->
        <!--<h1>{{ message }}</h1>-->
    <!--</div>-->
    <!--<div>-->
        <!--<h1>{{ message }}</h1>-->
    <!--</div>-->
    <!--<div>-->
        <!--<h1>2 + 3 = {{ 2 + 3 }}</h1>-->
    <!--</div>-->


    <!-- Video 3 CONTROLLERS -->
    <!--<div ng-controller="myController">-->
        <!--<div>-->
            <!--First Name : {{ employee.firstName }}-->
        <!--</div>-->
        <!--<div>-->
            <!--Last Name : {{ employee.lastName }}-->
        <!--</div>-->
        <!--<div>-->
            <!--Gender : {{ employee.gender }}-->
        <!--</div>-->
    <!--</div>-->


    <!-- Video 4 NG SRC Directive -->
    <!--<div ng-controller="myController">-->
        <!--<div>-->
            <!--Name : {{ country.name }}-->
        <!--</div>-->
        <!--<div>-->
            <!--Capital : {{ country.capital }}-->
        <!--</div>-->
        <!--<div>-->
            <!--<img ng-src="{{ country.flag }}" alt="{{ country.name }}">-->
        <!--</div>-->
    <!--</div>-->


    <!-- Video 5 TWO WAY DATA BINDING -->
    <!--<div ng-controller="myController">-->
        <!--<input type="text" ng-model="message">-->
        <!--<h1>{{ message }}</h1>-->
    <!--</div>-->


    <!-- Video 6 NG REPEAT -->
    <!--<div ng-controller="myController">-->
        <!--<table>-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th>Name</th>-->
                <!--<th>Gender</th>-->
                <!--<th>Salary</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="employee in employees">-->
                <!--<td>{{ employee.firstName }}</td>-->
                <!--<td>{{ employee.gender }}</td>-->
                <!--<td>{{ employee.salary }}</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->

        <!--<ul ng-repeat="country in countries">-->
            <!--<li>-->
                <!--{{ country.name }} - Index = {{ $index }}-->
                <!--<ul ng-repeat="city in country.cities">-->
                    <!--<li>{{ city.name }} - Parent Index = {{ $parent.$index }} , Index = {{ $index }}</li>-->
                <!--</ul>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->


    <!-- Video 7 HANDLING EVENTS -->
    <!--<div ng-controller="myController">-->
        <!--<table>-->
            <!--<thead>-->
                <!--<tr>-->
                    <!--<th>Name</th>-->
                    <!--<th>Likes</th>-->
                    <!--<th>Dislikes</th>-->
                    <!--<th>Like/Dislike</th>-->
                <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
                <!--<tr ng-repeat="technology in technologies">-->
                     <!--<td>{{ technology.name }}</td>-->
                     <!--<td>{{ technology.likes }}</td>-->
                     <!--<td>{{ technology.dislikes }}</td>-->
                     <!--<td>-->
                          <!--<input type="button" ng-click="incrementLikes(technology)" value="Like">-->
                          <!--<input type="button" ng-click="incrementDislikes(technology)" value="Dislike">-->
                     <!--</td>-->
                <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->


    <!-- Video 8 & 9 10 FILTERS and SORT & SORT by ROW -->
    <!--<div ng-controller="myController">-->
        <!--<label>-->
            <!--Rows to Display : <input type="number" step="1" ng-model="rowCount" max="5" min="0" />-->
        <!--</label>-->
        <!--<br>-->
        <!--<br>-->
        <!--<table>-->
            <!--<thead>-->
                <!--<tr>-->
                    <!--<th>Name</th>-->
                    <!--<th>Date of Birth</th>-->
                    <!--<th>Gender</th>-->
                    <!--<th>Salary ( Number Filter ) </th>-->
                    <!--<th>Salary ( Currency Filter) </th>-->
                <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
                <!--<tr ng-repeat="employee in employees|limitTo:rowCount">-->
                     <!--<td>{{ employee.name|uppercase }}</td>-->
                     <!--<td>{{ employee.dateOfBirth|date:"dd/MM/yyyy" }}</td>-->
                     <!--<td>{{ employee.gender }}</td>-->
                     <!--<td>{{ employee.salary|number:2 }}</td>-->
                     <!--<td>{{ employee.salary|currency:"$ ":1 }}</td>-->
                <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->


        <!--<br>-->
        <!--<br>-->
        <!--<label>-->
            <!--Sort By :-->
            <!--<select ng-model="sortColumn">-->
                <!--<option value="name">Name ASC</option>-->
                <!--<option value="dateOfBirth">DOB ASC</option>-->
                <!--<option value="gender">Gender ASC</option>-->
                <!--<option value="salary">Salary ASC</option>-->
                <!--<option value="-name">Name DESC</option>-->
                <!--<option value="-dateOfBirth">DOB DESC</option>-->
                <!--<option value="-gender">Gender DESC</option>-->
                <!--<option value="-salary">Salary DESC</option>-->
            <!--</select>-->
        <!--</label>-->
        <!--<br>-->
        <!--<br>-->
        <!--<table>-->
            <!--<thead>-->
                <!--<tr>-->
                    <!--<th>Name</th>-->
                    <!--<th>Date of Birth</th>-->
                    <!--<th>Gender</th>-->
                    <!--<th>Salary ( Number Filter ) </th>-->
                    <!--<th>Salary ( Currency Filter) </th>-->
                <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
                <!--<tr ng-repeat="employee in employees|orderBy:sortColumn">-->
                     <!--<td>{{ employee.name|uppercase }}</td>-->
                     <!--<td>{{ employee.dateOfBirth|date:"dd/MM/yyyy" }}</td>-->
                     <!--<td>{{ employee.gender }}</td>-->
                     <!--<td>{{ employee.salary|number:2 }}</td>-->
                     <!--<td>{{ employee.salary|currency:"$ ":1 }}</td>-->
                <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->

        <!--<br>-->
        <!--<label>-->
            <!--<h1>Sort Data based on Table Header :</h1>-->
        <!--</label>-->
        <!--<br>-->
        <!--<table>-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th ng-click="sortData('name')">-->
                    <!--Name <div ng-class="getSortClass('name')"></div>-->
                <!--</th>-->
                <!--<th ng-click="sortData('dateOfBirth')">-->
                    <!--Date of Birth <div ng-class="getSortClass('dateOfBirth')"></div>-->
                <!--</th>-->
                <!--<th ng-click="sortData('gender')">-->
                    <!--Gender <div ng-class="getSortClass('gender')"></div>-->
                <!--</th>-->
                <!--<th ng-click="sortData('salary')">-->
                    <!--Salary <div ng-class="getSortClass('salary')"></div>-->
                <!--</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="employee in employees|orderBy:sortColumn:reverseSort">-->
                <!--<td>{{ employee.name|uppercase }}</td>-->
                <!--<td>{{ employee.dateOfBirth|date:"dd/MM/yyyy" }}</td>-->
                <!--<td>{{ employee.gender }}</td>-->
                <!--<td>{{ employee.salary|number }}</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->

        <!--<br/>-->
        <!--<br/>-->
    <!--</div>-->


    <!-- Video 11 SEARCH FILTER -->
    <!--<div ng-controller="myController">-->
        <!--<label>-->
            <!--Search : <input type="text" ng-model="searchText" placeholder="Search Employees">-->
        <!--</label>-->
        <!--<br>-->
        <!--</br>-->
        <!--<table>-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th>Name</th>-->
                <!--<th>Gender</th>-->
                <!--<th>Salary</th>-->
                <!--<th>City</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="employee in employees | filter:searchText">-->
                <!--<td> {{ employee.name }} </td>-->
                <!--<td> {{ employee.gender }} </td>-->
                <!--<td> {{ employee.salary  }} </td>-->
                <!--<td> {{ employee.city  }} </td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->


    <!-- Video 12 SEARCH MULTIPLE FILTER -->
    <!--<div ng-controller="myController">-->
        <!--&lt;!&ndash;<label>&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="text" ng-model="searchText.name" placeholder="Search Name">&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="text" ng-model="searchText.city" placeholder="Search City">&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="checkbox" ng-model="exactMatch"> Exact Match&ndash;&gt;-->
        <!--&lt;!&ndash;</label>&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--&lt;!&ndash;</br>&ndash;&gt;-->
         <!--Search : <input type="text" placeholder="Search city & name"-->
                        <!--ng-model="searchText" />-->
        <!--<br /><br />-->
        <!--<table>-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th>Name</th>-->
                <!--<th>Gender</th>-->
                <!--<th>Salary</th>-->
                <!--<th>City</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="employee in employees | filter:searchText:exactMatch">-->
                <!--<td> {{ employee.name }} </td>-->
                <!--<td> {{ employee.gender }} </td>-->
                <!--<td> {{ employee.salary  }} </td>-->
                <!--<td> {{ employee.city  }} </td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->


    <!-- Video 13 custom-filter -->
    <!--<div ng-controller="myController">-->
        <!--<table>-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th>Name</th>-->
                <!--<th>Gender</th>-->
                <!--<th>Salary</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="employee in employees">-->
                <!--<td> {{ employee.name }} </td>-->
                <!--<td> {{ employee.gender| genderFilter }} </td>-->
                <!--<td> {{ employee.salary  }} </td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->


    <!-- Video 14 Show and Hide -->
    <!--<div ng-controller="myController">-->
        <!--<input type="checkbox" ng-model="hideSalary" />Hide Salary-->
        <!--<br /><br />-->
        <!--<table>-->
            <!--<thead>-->
                <!--<tr>-->
                    <!--<th>Name</th>-->
                    <!--<th>Gender</th>-->
                    <!--<th>City</th>-->
                    <!--&lt;!&ndash;<th ng-hide="hideSalary">Salary</th>&ndash;&gt;-->
                    <!--<th ng-show="!hideSalary">Salary</th>-->
                <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
                <!--<tr ng-repeat="employee in employees">-->
                    <!--<td> {{ employee.name }} </td>-->
                    <!--<td> {{ employee.gender}} </td>-->
                    <!--<td> {{ employee.city}} </td>-->
                    <!--&lt;!&ndash;<td ng-hide="hideSalary"> {{ employee.salary  }} </td>&ndash;&gt;-->
                    <!--<td ng-show="!hideSalary"> {{ employee.salary  }} </td>-->
                <!--</tr>-->
            <!--</tbody>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<input type="checkbox" ng-model="hideSalary" />Hide Salary-->
        <!--<br /><br />-->
        <!--<table>-->
            <!--<thead>-->
                <!--<tr>-->
                    <!--<th>Name</th>-->
                    <!--<th>Gender</th>-->
                    <!--<th>City</th>-->
                    <!--<th ng-hide="hideSalary">Salary</th>-->
                    <!--<th ng-show="hideSalary"> Salary </th>-->
                <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
                <!--<tr ng-repeat="employee in employees">-->
                    <!--<td> {{ employee.name }} </td>-->
                    <!--<td> {{ employee.gender}} </td>-->
                    <!--<td> {{ employee.city}} </td>-->
                    <!--<td ng-hide="hideSalary"> {{ employee.salary  }} </td>-->
                    <!--<td ng-show="hideSalary"> ##### </td>-->
                <!--</tr>-->
            <!--</tbody>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->

    <!-- Video 15 NG INIT -->
    <!--<div ng-init="employees = [-->
                    <!--{ name: 'Ben', gender: 'Male', city: 'London' },-->
                    <!--{ name: 'Sara', gender: 'Female', city: 'Chennai' },-->
                    <!--{ name: 'Mark', gender: 'Male', city: 'Chicago' },-->
                    <!--{ name: 'Pam', gender: 'Female', city: 'London' },-->
                    <!--{ name: 'Todd', gender: 'Male', city: 'Chennai' }-->
                <!--]">-->
        <!--<table>-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th>Name</th>-->
                <!--<th>Gender</th>-->
                <!--<th>City</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="employee in employees">-->
                <!--<td> {{ employee.name }} </td>-->
                <!--<td> {{ employee.gender }} </td>-->
                <!--<td> {{ employee.city  }} </td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->

    <!-- Video 16 include -->
    <div ng-controller="myController">
        <label>
            Select View :
            <select ng-model="employeeView">
                <option value="">Select Format</option>
                <option value="employeeTable.html">Table Format</option>
                <option value="employeeList.html">List Format</option>
            </select>
        </label>
        <br>
        <br>
        <div ng-include="employeeView"></div>

        <!--<div ng-include=" 'employeeTable.html' "></div>-->
        <!--<div ng-include=" 'employeeList.html' "></div>-->
    </div>




</body>
</html>