<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngularJs First Program</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
    <div ng-app="">
        <input type="number" ng-model="first" placeholder="Enter First value">
        <br>
        <br>
        <input type="number" ng-model="second" placeholder="Enter Second value">
        <h1>Output is {{ first + second }}</h1>
    </div>
</body>
</html>