<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngularJs First Program</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="namesCtrl">
        <p>Type a letter in the input field:</p>
        <p><input type="text" ng-model="test"></p>

        <ul>
            <li ng-repeat="x in names| filter:test">
                {{ x }}
            </li>
        </ul>
    </div>

    <script>
        angular.module('myApp',[]).controller('namesCtrl', function ($scope) {
           $scope.names = [
                   'narendra',
                   'nithish',
                   'deepu',
                   'naidu',
                   'avula',
                   'potta'
           ]
        });
    </script>
</body>
</html>